 
 
 
/* This is css for the form */
.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: rgb(48, 48, 128);
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: rgb(148, 19, 19);
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color:rgb(48, 48, 128);
}

.wf1 input[type='text'],
.wf1 input[type='tel'],
.wf1 input[type='email'],
.wf1 input[type='url'],
.wf1 input[type='date'],
.wf1 select,
.wf1 input[type='number'] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type='radio'],
.wf1 input[type='checkbox']{
    background-color: #555;
    margin-right: 6px;
}

.wf1 input[type='submit']{
    border: none;
    background-image: linear-gradient(rgb(196, 16, 16), rgb(112, 10, 10));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 1px #999;
}

.wf1 input:required{
    border-bottom: 8px solid red;
}
.wf1 input:required:valid{
    border-bottom: 8px solid green;
}

/* For the footer design */
footer{
    padding: .5rem;
    text-align: center;
    background-color: #ddd;
}